[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7.5"

[packages]
"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"
django-rest-api = "*"
djangorestframework = "*"
python-decouple = "*"
django-rest-auth = "*"
django-allauth = "*"
pusher = "*"
django-cors-headers = "*"
django = "*"

[dev-packages]
